workshop-app/.local-m2/
workshop-app/target/
workshop-app/.idea/libraries/
workshop-app/.idea/*.xml
workshop-app/workshop-app.iml
workshop-app/.lein-repl-history
workshop-app/.nrepl-port
save-points/.local-m2/
save-points/target/
save-points/.idea/libraries/
save-points/.idea/*.xml
save-points/save-points.iml
save-points/.lein-repl-history
save-points/.nrepl-port
workshop-app/*.sqlite
save-points/.idea/save-points.iml
save-points/workshop-app.iml
workshop-app/.lein-failures
